.container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px 200px;
  grid-gap: 0;
  width: 800px;
  height: 800px;
  margin: auto;
}

.sketched {
  background-color: black;
}
